.App {
 justify-content: center;
  background-color:rgb(12, 93, 107);
  max-width: 50%;
  min-height: 500px;
  align-items: center;
  margin-left: 350px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px black solid;
  padding: 15px;
  

  
}